<div class="home-feature">
<div class="main-intro-image-wrapper">
    <div class="main-intro-image">
        <img src="images/main-image/books.jpg" alt="better grades bradford teaching kids to excell">
    </div>
</div>
<div class="calls-to-action-wrapper">
    <div class="call">
        <h2>Personalised Education</h2>
        <p>Enabling your child to learn and understand more easily?</p>
        <a href="subjects-offered.php" class="call-action">List of Subjects</a>
    </div>
    <div class="call">
        <h2>Increased Confidence</h2>
        <p>Allowing your child to have a more positive outlook on learning?</p>
        <a href="about-us.php" class="call-action">More About Us</a>
    </div>
    <div class="call">
        <h2>Improved study skills</h2>
        <p>Allowing your child to better focus on their studies?</p>
        <a href="contact-us.php" class="call-action">Get in touch</a>
    </div>
</div>


</div>