@import "../../styles-global/_variables.scss";

.home-feature {
    margin-top: 20px;
    border: 1px solid green !important;
}

//main-image
.main-intro-image-wrapper {
    border:  3px solid orange; 
     
    margin-bottom:20px;
}
.main-intro-image {
    height:260px;
    //background: url(../../images/main-image/books.jpg) top center;
    background-size: 1000px;
    img { display: none;}
}

@media screen and (min-width: 600px) {
    .main-intro-image {
        height:367px;
//        background: url(../../images/main-image/books.jpg) top center;
        img { display: none;}
    }
}



//homepage calls to action
.calls-to-action-wrapper {
    text-align: center;
    margin-bottom:20px;
    .call {
        border:1px solid #ccc;
        padding:8px 8px 55px 8px;
        background-color:#fff;
        margin-bottom:20px;
        position:relative;
        h2 {
            padding-top: 10px;
        }
        .call-action {
            padding:10px;
            position:absolute;
            bottom:15px;
             background-color: $secondary-color;
            text-decoration: none;
            color: $primary-color;
            width:140px;
            left:calc(50% - 70px); //centralises it based on its width.
            border:0px solid #ccc;   
        
            transition-property: all;
            transition-duration: 1.0s;
            transition-timing-function: cubic-bezier(0, 1, 0.5, 1);        
        }
        .call-action:hover {
            background-color: $primary-color;
            color: #fff;
        }    
    }

    //creating the menu hover effect
    .call:before { 
        content:"";
        position:absolute;
        top:0; 
        left:50%;
        height:3px;
        width:0; 
        background-color: $tertiary-color;
        z-index: 1;

        transition-property: all;
        transition-duration: .8s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
    .call:hover:before { 
        left:0;
        width:100%;
    }    


}

@media screen and (min-width: 600px) {
    .calls-to-action-wrapper {
        margin-top:-80px;
        display:flex;
        .call {
            flex:1;
            margin-left:20px;
            margin-right:20px;
        }
    }
}
//END - homepage calls to action