<div class="inner-footer-wrapper">

    <div class="text-blocks-footer">
        <div class="text-block">
            <h3>More about us</h3>
            <nav class="site-nav">
                <ul>
    <li class="toggle-close"><a href="#"><i class="fa fa-times" aria-hidden="true"></i>Close</a></li>
    
    <li class="desktop-only active"><a href="index.php" title="Better Grades">Homepage</a></li>
    <li class="desktop-only "><a href="about-us.php" title="About Us">About Us</a></li>
    <li class=""><a href="faqs.php">FAQs</a></li>
    
    
    <li><a href="11-plus-mock-days.php ">11 + Mock Days</a></li>
    <li><a href="11-plus.php ">11 +</a></li>
    <li><a href="11-plus-resources.php ">11 + Resources</a></li>
    <li><a href="subjects-offered.php ">Subjects Offered</a></li>

    <li class=""><a href="testimonials.php">Testimonials</a></li>
    <li class=""><a href="fees.php">Fees</a></li>

    <li class="desktop-only "><a href="contact-us.php" title="Contact Us">Contact Us</a></li>  
</ul>                 <nav>
        </nav></nav></div>
        <div class="text-block">
            <h3>We would love to hear from you</h3>
            <ul class="footer-address-list">
                <li>16 High Street, Queensbury, BD13 2PA</li>
                <li><i class="fa fa-mobile" aria-hidden="true"></i> 01274 552 037</li>
                <li><i class="fa fa-mobile" aria-hidden="true"></i> 07425 322 323</li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i> admin@bettergrades.co.uk</li>
            </ul>
        </div>
        <div class="text-block">
            <h3>Areas of study</h3>
         <ul class="footer-list-floating-points">
        <li>Key Stage 1</li>
         <li>11+</li>
         <li>Key Stage 2</li>
         <li>Keystage 3</li>
         <li>GCSE</li>
         <li>A-Levels</li>
         <li>Maths</li>
         <li>English</li>
         <li>English Verbal Reasoning </li>
         <li>Science</li>
         <li>Physics</li>
        </ul>
        </div>
    </div> 
</div>