<div class="main clear-fix">
 
    <h1>FAQ's</h1>
    <div class="faqs-wrapper">
        <div class="faqs">
            
    <div class="faq">
        <h3>How do I register?</h3>
        <p class="description">Please call into our centre and we will guide you through the
registration process.</p>
    </div>
            
    <div class="faq">
        <h3>What happens once I register?</h3>
        <p class="description">We will directly arrange your free assessment and give you an instant
feedback.</p>
    </div>            
    <div class="faq">
        <h3>How do I know that my child will be safe</h3>
        <p class="description">All new tutors have to undergo a series of stringent checks, including a
full Police check.</p>
    </div>
            
    <div class="faq">
        <h3>What reassurance do I have about the tutors?</h3>
        <p class="description">Apart from the CRB disclosure, we require all our tutors to provide us with
professional and personal references, which we check, and also proof of their
qualifications.</p>
    </div>
            
    <div class="faq">
        <h3>How do I know the tutor is up to date with the curriculum?</h3>
        <p class="description">We require all our tutors to be in a current teaching positions.</p>
    </div>            
    <div class="faq">
        <h3>Will my child get homework?</h3>
        <p class="description">Yes, as this is the only way we can check (and consolidate) whether or not
they have understood any new concepts taught</p>
    </div>            
    <div class="faq">
        <h3>How do I cancel a lesson?</h3>
        <p class="description">You should contact the centre director and let him or her know as soon as
you can. For consistency you will have to reschedule the lesson.</p>
    </div>
            
    <div class="faq">
        <h3>What should I do if I don’t want tuition to carry on?</h3>
        <p class="description">Advice the centre director and we will cancel your contract as required.</p>
    </div>            
    <div class="faq">
        <h3>Won’t my child be too tired for an hour’s tuition after school?</h3>
        <p class="description">Private tuition is different from a classroom environment, and can be
very stimulating. Of course, it depends on the age of the pupil, but you can
arrange tuition times with the centre director so that your child is not too
tired to benefit from the lessons.</p>
    </div>            
    <div class="faq">
        <h3>Will the Centre be able to fit around my child’s commitments/activities?</h3>
        <p class="description">Our tutors will do all they can to
arrange tuition at a suitable time for all concerned. Please talk to the centre
director about which times work best for you.</p>
    </div>            
        </div>

        <h3>Registration and Terms of Business</h3>
        <div class="faqs">
            
    <div class="faq">
        <h3>Registration</h3>
        <p class="description">After an initial discussion and assessment with a client we ask them to think carefully about whether they wish us to proceed with the agreed tuition programme. We leave the client to contact the Director when they are ready to
register and start tuition.</p>
    </div>
            
    <div class="faq">
        <h3>Holidays and Illness</h3>
        <p class="description">If it is necessary to cancel a teaching session notice must be given at least 24 hours in advance, in which case no fee will be charged by our tutors. Cancellation with less than 24 hours notice will normally be charged at half
the agreed hourly rate. If no notice is given and a session is missed the full fee in lieu of the reserved teaching time will be charged. Please notify the tutor of any holiday dates that will affect the teaching schedule.</p>
    </div>            
    <div class="faq">
        <h3>Payment for Lessons</h3>
        <p class="description">Lessons should be paid for at the end of each session or the last week of
the month</p>
    </div>        </div>

<script>
    $(document).ready(function(){
        $(".faq h3").on("click", function(){
            $(this).toggleClass("open");
            $(this).parent().toggleClass("open-faq");
            $(this).next().slideToggle();
        });
    });
</script>

    </div>
    </div>