<div class="main clear-fix">

    <h1>FAQ's</h1>
    <div class="faqs-wrapper">
        <div class="faqs">

            <div class="faq">
                <h3>Lorem ipsum dolor sit.</h3>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, molestias eligendi. Ipsam consectetur
                    animi itaque libero ducimus, unde, hic fugiat illum velit architecto, facere exercitationem minus labore
                    a tempora natus!</p>
            </div>
            <div class="faq">
                <h3>Lorem ipsum dolor sit.</h3>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, molestias eligendi. Ipsam consectetur
                    animi itaque libero ducimus, unde, hic fugiat illum velit architecto, facere exercitationem minus labore
                    a tempora natus!</p>
            </div>
            <div class="faq">
                <h3>Lorem ipsum dolor sit.</h3>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, molestias eligendi. Ipsam consectetur
                    animi itaque libero ducimus, unde, hic fugiat illum velit architecto, facere exercitationem minus labore
                    a tempora natus!</p>
            </div>
            <div class="faq">
                <h3>Lorem ipsum dolor sit.</h3>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, molestias eligendi. Ipsam consectetur
                    animi itaque libero ducimus, unde, hic fugiat illum velit architecto, facere exercitationem minus labore
                    a tempora natus!</p>
            </div>
            <div class="faq">
                <h3>Lorem ipsum dolor sit.</h3>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, molestias eligendi. Ipsam consectetur
                    animi itaque libero ducimus, unde, hic fugiat illum velit architecto, facere exercitationem minus labore
                    a tempora natus!</p>
            </div>
            <div class="faq">
                <h3>Lorem ipsum dolor sit.</h3>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, molestias eligendi. Ipsam consectetur
                    animi itaque libero ducimus, unde, hic fugiat illum velit architecto, facere exercitationem minus labore
                    a tempora natus!</p>
            </div>
            <div class="faq">
                <h3>Lorem ipsum dolor sit.</h3>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, molestias eligendi. Ipsam consectetur
                    animi itaque libero ducimus, unde, hic fugiat illum velit architecto, facere exercitationem minus labore
                    a tempora natus!</p>
            </div>
            <div class="faq">
                <h3>Lorem ipsum dolor sit.</h3>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, molestias eligendi. Ipsam consectetur
                    animi itaque libero ducimus, unde, hic fugiat illum velit architecto, facere exercitationem minus labore
                    a tempora natus!</p>
            </div>
            <div class="faq">
                <h3>Lorem ipsum dolor sit.</h3>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, molestias eligendi. Ipsam consectetur
                    animi itaque libero ducimus, unde, hic fugiat illum velit architecto, facere exercitationem minus labore
                    a tempora natus!</p>
            </div>

        </div>

        <h3>Registration and Terms of Business</h3>
        <div class="faqs">
            <div class="faq">
                <h3>Lorem ipsum dolor sit.</h3>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, molestias eligendi. Ipsam consectetur
                    animi itaque libero ducimus, unde, hic fugiat illum velit architecto, facere exercitationem minus labore
                    a tempora natus!</p>
            </div>
            <div class="faq">
                <h3>Lorem ipsum dolor sit.</h3>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, molestias eligendi. Ipsam consectetur
                    animi itaque libero ducimus, unde, hic fugiat illum velit architecto, facere exercitationem minus labore
                    a tempora natus!</p>
            </div>
            <div class="faq">
                <h3>Lorem ipsum dolor sit.</h3>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, molestias eligendi. Ipsam consectetur
                    animi itaque libero ducimus, unde, hic fugiat illum velit architecto, facere exercitationem minus labore
                    a tempora natus!</p>
            </div>


        </div>

        <script>
            $(document).ready(function () {
                $(".faq h3").on("click", function () {
                    $(this).toggleClass("open");
                    $(this).parent().toggleClass("open-faq");
                    $(this).next().slideToggle();
                });
            });
        </script>

    </div>
</div>