@import "../../styles-global/_variables.scss";

.mid-ribbon {
    //padding-top:50px;
    position: relative;
    text-align: center; 
    margin-bottom:10px;
    .contact-details{
        margin-bottom:20px;
    } 

    address {
        padding-top: 10px;
        padding-bottom:13px;
        color:darken(#F89B1C, 20);
    }
    
    .email {
        span{
            padding-left:26px;
            position: relative;
            color:darken(#F89B1C, 20);
        }        
        i{
            position: absolute;
            left:0;
            font-size:18px;
            top:-2px;
        }
    }
}


@media screen and (min-width: 700px) {
    .mid-ribbon {
        margin-bottom: 0;
    }
}


.logo {
    width:270px; 
    height:90px;
    margin:auto;
    margin-top:20px;
    background-image: url(/assets/images/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    img {
        width:100%;
        display:none;
    }
}


@media screen and (min-width: 580px) {
    .logo {
        width:300px;
    }
}
@media screen and (min-width: 700px) {
    .logo {
        width:374px;
    }
}    



