<div class="mid-ribbon clear-fix">
                       
    <div class="toggle-menu"><i class="fa fa-bars" aria-hidden="true"></i></div>

    <div class="logo">
        <a href="/">
            <img src="images/logo.png" alt="Better Grades Tuition in Bradford logo">
        </a>
    </div>
    <div class="contact-details">
    <address>
    16 High Street, Queensbury, BD13 2PA
</address>
        <div class="email">
        <span> 
        <i class="fa fa-envelope" aria-hidden="true"></i>
         info@bettergrades.co.uk
         </span>
         </div>
    </div>
</div>