@import "01-mixins/_mixins.scss";
@import "01-mixins/_variables.scss";


	.sub-menu  {
		display:none;
	}




@media screen and (min-width: 700px) {

	.sub-menu  {
		font-family: 'Roboto', sans-serif;
		display: block;
		position: absolute;
		padding:8px 0 8px 0;

		li {
			list-style: none;
			display: inline-block;
		}

		a { 
			padding:8px 8px 8px 8px;
			text-decoration: none;
			display:block;
			font-size:1.1rem;
			margin-left:8px;
			margin-right:8px;
			position:relative; 
			color: $primary-color;

			transition-property: all; 
			transition-duration: .8s;
			transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		}
		a:hover { 
			color: $desktop-menu-text-hover-color; 
		}


		//creating the menu hover effect
		a:after { 
			content:"";
			position:absolute;
			bottom:0;
			left:50%;
			height:3px;
			width:0%;
			background-color: $desktop-menu-text-hover-color;
			
			transition-property: all;
			transition-duration: .8s;
			transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		}
		a:hover:after { 
			left:0;
			width:100%;
		}


	}

}