//faqs
.testimonials {
    text-align: center;
    margin-bottom:36px;
    
    .testimonial {
        border:1px solid #ccc;
        padding: 16px 50px 8px 50px;
        background:#eef1f6;
        margin:10px 10px 90px 10px;
        position:relative;
        h2 {
            display:none;
        }
        .name {
            font-weight: bold;
            position:absolute;
            bottom:-40px; 
            right:5px;
        }
        .location {
            position:absolute;
            bottom:-60px;
            right:5px;
        }
    }

    .testimonial {
        i{
            position:absolute;
            width:24px;
            height:24px;
            opacity:0.8;
        }
        i.start {
            background: url(/images/quote-start.png) top left no-repeat;
            background-size: 100%;
            top:10px;
            left:10px;
        }
        i.end {
            background: url(/images/quote-end.png) bottom right no-repeat;
            background-size: 100%;
            bottom:10px;
            right:10px;
        }
    }


    .testimonial:after {
        content:"";
        position:absolute;
        border-top:0px solid #ccc;
        border-right:1px solid #ccc;
        border-bottom:1px solid #ccc;
        border-left:0px solid #ccc; 
        width:20px;
        height:20px;
        bottom:-12px;
        right:40px;
        background:#eef1f6; 
        -ms-transform: rotate(45deg); /* IE 9 */
        -webkit-transform: rotate(45deg); /* Safari */
        transform: rotate(45deg);        
    }    
}
.testimonial-wrapper:before,
.testimonial-wrapper:after
    {
    content: "";
    display: table;
    clear: both;
}

@media screen and (min-width: 450px) {
    
    .testimonial {
        border:1px solid #ccc;
        background:white;
        width: calc(50% - 20px);
        margin:10px;
        float: left;
    }

}


@media screen and (min-width: 700px) {
    .testimonials {
        margin-bottom:20px;
        display:flex;
        .testimonial {
            flex:1;
            margin-left:12px;
            margin-right:12px;
            margin-bottom:60px;
        }
    }
}
//END - faqs