<div class="top-ribbon">
    <div class="top-ribbon-inner clear-fix">
<nav>
        <ul class="sub-menu">
<li><a href="index.php" title="Better Grades">Homepage</a></li>
<li><a href="about-us.php" title="About Us">About Us</a></li>
<li><a href="contact-us.php" title="Contact Us">Contact Us</a></li>  
</ul>                     </nav>
        <div class="phone">
            <span>
            <i class="fa fa-mobile" aria-hidden="true"></i> 01274 552 037
        </span>
        </div> 
    </div>
</div>