<div class="top-ribbon">
    <div class="page-constraint-inner">
        <nav>
            <ul class="sub-menu">
                <li>
                    <a routerLink="homepage" title="Homepage">Homepage</a>
                </li>
                <li>
                    <a  routerLink="about-us" title="About Us">About Us</a>
                </li>
                <li>
                    <a  routerLink="contact-us" title="Contact Us">Contact Us</a>
                </li>
            </ul>
        </nav>
        <div class="phone">
            <span>
                <i class="fa fa-mobile" aria-hidden="true"></i> 01274 552 037
            </span>
        </div>
    </div>
</div>