@import "../../styles-global/_variables.scss";

.top-ribbon  {
    background-color: $secondary-color;
    font-family: 'Cardo', serif;
    position: fixed;
    z-index:1000;
    width:100%;
    min-height: 60px;
    .phone {
        padding-top:16px;
        padding-bottom:16px;
        padding-right: 5px;
        float:right;
        font-size:1.3rem;
        span{
            padding-left:20px;
            position: relative;
        }        
        i{
            position: absolute;
            left:0;
            font-size:22px;
            top:2px;
        }
    }    
}

@media screen and (min-width: 700px) {

    .top-ribbon  {
        .phone {
            padding-top:16px;
            padding-bottom:16px;

        }
    }



}


.sub-menu  {
    display:none;
}




@media screen and (min-width: 700px) {

.sub-menu  {
    display: block;
    position: absolute;
    padding:8px 0 8px 0;

    li {
        list-style: none;
        display: inline-block;
    }

    a { 
        padding:8px 8px 8px 8px;
        text-decoration: none;
        display:block;
        font-size:1.2rem;
        font-weight: 400;
        margin-left:8px;
        margin-right:8px;
        position:relative; 
        color: $primary-color;

        transition-property: all; 
        transition-duration: .8s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
    a:hover { 
        color: $desktop-menu-text-hover-color; 
    }


    //creating the menu hover effect
    a:after { 
        content:"";
        position:absolute;
        bottom:0;
        left:50%;
        height:3px;
        width:0%;
        background-color: $desktop-menu-text-hover-color;
        
        transition-property: all;
        transition-duration: .8s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
    a:hover:after { 
        left:0;
        width:100%;
    }


}

}