$xl: 1600px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 480px;
$xxs: 320px;

//SWITCH2 COLOURS
$c-main: #252d59; //Link navy
$c-sec1: #43579b; //Link blue 2
$c-sec2: #313f7d; //Link blue 1
$c-sec3: #5083c2; //Link blue 3
$c-sec4: #74a2cb; //Link blue 4
$c-sec5: #89b9db; //Link blue 5
$c-sec6: #2386a2; //Link Aqua 1 (darker)
$c-sec7: #579bab; //Link Aqua 2 (lighter)
$c-sec8: #e71400; //Red
$c-sec9: #ea9320; //Link yellow 1
$c-sec10: #f2ca30; //Link yellow 2
$c-sec11: #f26729; //Link orange
$c-dark: #4e4e50; //Link grey 1
$c-mid: #808183; //Link grey 2
$c-light: #dbdcdd; //Link grey 3
$c-highlight: #F8F8F9; //Very light grey

//FONTS
$font-pri: 'Helvetica Neue', 'Arial', sans-serif;
$button-size: 2.5rem;