@import "../styles-global/_variables.scss";

//  THIS NEEDS MOVING TO THE ITS OWN COMPONENT AND NEEDS TO BE OUTSITE THE PAGE STRUCTURE
.toggle-menu {
	display:inline-block;
	position: absolute;
	z-index:1001;
	left:0;
	top:0;
	padding:6px 8px 8px 12px;
	color:#000;
	font-size: 2.0rem;
	:hover {
		cursor:pointer;
	}
}

@media screen and (min-width: 700px) {
	.toggle-menu, .main-menu .toggle-close, .main-menu .desktop-only {
		display: none;
    }
}

@media screen and (min-width: 0) and (max-width: 699px) {
	.page-overlay {
		position: fixed;
		width:0px;
		height:0px;
		background-color: #000;
		opacity:0;
		z-index:1002;
	}
	.page-overlay.mobile-menu-open {
		width:100%;
		height:100%;
		top:0;
		left:0;
		opacity:0.6;
		transition: opacity 0.7s; 
	}
}
// END -  THIS NEEDS MOVING TO THE ITS OWN COMPONENT AND NEEDS TO BE OUTSITE THE PAGE STRUCTURE@import "../styles-global/_variables.scss";




@media screen and (min-width: 0) and (max-width: 699px) {
.main-menu  {
	font-family: 'Cardo', serif;
	position:fixed;
	height: 100%; 
	top:0;
	left:-300px;
	width:300px;
	background: white; 
	z-index: 1010;
	font-weight: 400;
	background-color: $desktop-menu-background-color;

	//slide effect
	transition-property: all;
	transition-duration: .8s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);	

	.toggle-close {
		color:#fff;
		position: relative;
		a {
			color:#fff;
			padding:16px 8px 14px 50px;
		}
		i {
			font-size: 30px;
			position:absolute;
			top:20px;
			left:16px;
		}
		&:after {
			content: '';
		}		
	
	}

	ul {
		padding:0;
		margin:0;
	}
	li {
		list-style: none;
		position: relative;
		color:#ccc;
	}
	li:hover { 
		color:$secondary-color;
	}
	li:after {
        content: '\f054';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-style: normal;
        margin:0px 0px 0px 10px;
        text-decoration:none;
        position:absolute;
		font-size: 17px;
        right:16px;
        top:10px;
	}
	li.active {
		color:$secondary-color;
		a {
			color:$secondary-color;
		}
	}
	a { 
		text-decoration: none;
		font-size: 1.4rem;
		color:#ccc;
		display:block;
		padding:4px 20px 4px 16px;
		margin-bottom:2px;
		border-bottom:1px solid #666;
	}
	
	a:hover { 
		color:$secondary-color;
	}	
	&.open{
		top:0;
		left:0; 
		box-shadow: 5px 0 30px black;
	}
}
}


@media screen and (min-width: 700px) {
	.main-menu  {
		font-family: 'Cardo', serif;
        position:relative;
		left:auto; 
		text-align: center;
		background-color: $desktop-menu-background-color;		

		li {
			display:inline-block;
			//width:120px;
		}
		li:after {
			content:"";
		}		
		a { 
			display:inline-block;
			padding:16px 20px 16px 20px;
			font-size: 1.4rem;
			margin-left:5px;
			margin-right:5px;
			position:relative;
			color:$desktop-menu-text-color;
			transition-property: all; 
			transition-duration: .8s;
			transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
			border-bottom:none;
			text-decoration: none;
			border-left: 1px solid darken(#ccc, 50);
		}
		li:nth-child(4) a { 
			border-left: 0 solid red; 
		}
		a:hover { 
			color: $secondary-color; 
		}

		//creating the menu hover effect
		a:after { 
			content:"";
			position:absolute;
			bottom:0;
			left:50%;
			height:3px;
			width:0%;
			background-color: $secondary-color;
		
			transition-property: all;
			transition-duration: .8s;
			transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		}
		a:hover:after { 
			left:0;
			width:100%;
		}
    
        
    }
    
	.toggle-menu, .main-menu .toggle-close, .main-menu .desktop-only {
		display: none;
	}

}