<div class="page-overlay" [ngClass]="mnuStatus ? 'mobile-menu-open' : ''" (click)="mnuStatus=!mnuStatus" ></div>

<div class="toggle-menu"  (click)="mnuStatus=!mnuStatus"><i class="fa fa-bars" aria-hidden="true" ></i></div>

<nav class="main-menu" [ngClass]="mnuStatus ? 'open' : ''" (click)="mnuStatus=!mnuStatus">
  <ul>
    <li class="toggle-close" >
      <a href="#">
        <i class="fa fa-times" aria-hidden="true"></i>Close</a>
    </li>

    <li class="desktop-only active">
      <a routerLink="homepage" title="homepage">Homepage</a>
    </li>
    <li class="desktop-only ">
      <a  routerLink="about-us" title="About Us">About Us</a>
    </li>
    <li class="">
      <a  routerLink="faqs">FAQs</a>
    </li>


    <li>
      <a  href="11-plus-mock-days.php ">11 + Mock Days</a>
    </li>
    <li>
      <a href="11-plus.php ">11 +</a>
    </li>
    <li>
      <a href="11-plus-resources.php ">11 + Resources</a>
    </li>
    <li>
      <a  routerLink="subjects-offered" >Subjects Offered</a>
    </li>

    <li class="">
      <a  routerLink="testimonials">Testimonials</a>
    </li>
    <li class="">
      <a routerLink="fees">Fees</a>
    </li>

    <li class="desktop-only ">
      <a  routerLink="contact-us" title="Contact Us">Contact Us</a>
    </li>
  </ul>
</nav>