<div class="page-overlay" [ngClass]="mnuStatus ? 'mobile-menu-open' : ''" (click)="mnuStatus=!mnuStatus" ></div>

<div class="toggle-menu"  (click)="mnuStatus=!mnuStatus"><i class="fa fa-bars" aria-hidden="true" ></i></div>

<nav class="main-menu" [ngClass]="mnuStatus ? 'open' : ''">
  <ul>
    <li class="toggle-close" (click)="mnuStatus=!mnuStatus">
      <a href="#">
        <i class="fa fa-times" aria-hidden="true"></i>Close</a>
    </li>

    <li class="desktop-only active">
      <a href="index.php" title="Better Grades">Homepage</a>
    </li>
    <li class="desktop-only ">
      <a href="about-us.php" title="About Us">About Us</a>
    </li>
    <li class="">
      <a href="faqs.php">FAQs</a>
    </li>


    <li>
      <a href="11-plus-mock-days.php ">11 + Mock Days</a>
    </li>
    <li>
      <a href="11-plus.php ">11 +</a>
    </li>
    <li>
      <a href="11-plus-resources.php ">11 + Resources</a>
    </li>
    <li>
      <a href="subjects-offered.php ">Subjects Offered</a>
    </li>

    <li class="">
      <a href="testimonials.php">Testimonials</a>
    </li>
    <li class="">
      <a href="fees.php">Fees</a>
    </li>

    <li class="desktop-only ">
      <a href="contact-us.php" title="Contact Us">Contact Us</a>
    </li>
  </ul>
</nav>