<div class="main clear-fix">


    <h1>How much does Private Tuition cost?</h1>
    <div class="standard-layout">
        <div class="boxes">
            <div class="box">
                <div class="content-container align-center">
                    <p>Better Grades professional tutors prices are designed to encourage two lessons a week in the subject
                        a student needs extra help with. This induces consistency and quick turnaround of poor Grades/ Levels.
                        The number of lessons needed is normally recommended based on our free assessment of your child.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="products clear-fix">
        <div class="product">
            <h3>Single Class</h3>
            <div class="price-block">£17.50</div>
            <p class="content">A single class lasts approximately 70 minutes.</p>

        </div>
        <div class="product popular">
            <h3>Double Class</h3>
            <div class="price-block">£30.00</div>
            <span class="preferred-text">Popular Choice</span>
            <p class="content">
                A single class lasts approximately 70 minutes. This preferred option allows your child to have two classes a week.
            </p>


        </div>
        <div class="product">
            <h3>Triple Class Deals</h3>
            <div class="price-block">£43.50</div>
            <p class="content">This option allows your child to have three classes a week. </p>
        </div>
    </div>


    <div class="standard-layout">
        <div class="boxes">
            <div class="box">
                <div class="content-container align-center">
                    <h3>See how we can start turning your child’s grades around. Contact us now to book your free assessment</h3>
                </div>
            </div>
        </div>
    </div>


</div>