<div class="main clear-fix">
    <div class="main-intro-image-wrapper">
        <div class="main-intro-image">
            <img src="images/main-image/books.jpg" alt="better grades bradford teaching kids to excell">
        </div>
    </div>
    <div class="calls-to-action-wrapper">
        <div class="call">
            <h2>Personalised Education</h2>
            <p>Enabling your child to learn and understand more easily?</p>
            <a href="subjects-offered.php" class="call-action">List of Subjects</a>
        </div>
        <div class="call">
            <h2>Increased Confidence</h2>
            <p>Allowing your child to have a more positive outlook on learning?</p>
            <a href="about-us.php" class="call-action">More About Us</a>
        </div>
        <div class="call">
            <h2>Improved study skills</h2>
            <p>Allowing your child to better focus on their studies?</p>
            <a href="contact-us.php" class="call-action">Get in touch</a>
        </div>
    </div>

    <div class="align-center additional-bottom-padding">
        <h1>A warm, comfortable, family-friendly atmosphere</h1>
        <div class="content-container">
            <p>Engineering a warm, comfortable, family-friendly atmosphere highly conducive to learning.
                Direct and open avenues of communication between our tutors, parents and students.
                Flexible rescheduling of lessons </p>
        </div>
    </div>

 <div class="boxed-content-wrapper-home">
        <div class="boxes">
            <div class="box box1">
                <h2>Personalised tutoring</h2>
                <p>Personalised tutoring services in Maths and English for KS2, KS3,
  GCSE and A-level students .  </p>
            </div>
            <div class="box box2">
                <h2>Eleven plus preparation</h2>
                <p>In addition, we specialise in Eleven Plus preparation and offer a variety of 
  courses in Bradford and Halifax to help students prepare for their 11+ Exams.  </p>
            </div>
        </div>
        <div class="boxes">
            <div class="box box3">
                <h2>Fully customised programs</h2>
                <p>Fully customized programs for each student to focus on their individual needs.  </p>
            </div>
            <div class="box box4">
                <h2>Certified teaching professionals</h2>
                <p>Expert-level, certified teaching professionals that develop a higher level of thinking in
  students by stimulating their thought processes and preparing them to better absorb subject matter.  </p>
            </div>
        </div>

        <div class="boxes">
            <div class="box">
            <div class="content-container">
                <h3>Ask yourself...</h3>
                <ul class="list-default">
                    <li>Would my child be better organized with schoolwork?</li>
                    <li>Is my child capable of achieving higher grades?</li>
                    <li>Could improved study skills allow my child to better focus on their studies?</li>
                    <li>Will increased confidence allow my child to have a more positive outlook on learning?</li>
                    <li>Can personalised education enable my child to learn and understand more easily</li>
                </ul>
                </div>
            </div>
        </div>


    </div>

    </div>