<div class="page-constraint-inner">
        <div class="main">

        <app-home-feature></app-home-feature>


        <div class="align-center additional-bottom-padding">
            <h1>A warm, comfortable, family-friendly atmosphere</h1>
            <div class="content-container">
                <p>Engineering a warm, comfortable, family-friendly atmosphere highly conducive to learning. Direct and open
                    avenues of communication between our tutors, parents and students. Flexible rescheduling of lessons </p>
            </div>
        </div>

        <app-boxed-content-calls></app-boxed-content-calls>

        <div class="boxes">
            <div class="box">
                <div class="content-container">
                    <h3>Ask yourself...</h3>
                    <ul class="list-default">
                        <li>Would my child be better organized with schoolwork?</li>
                        <li>Is my child capable of achieving higher grades?</li>
                        <li>Could improved study skills allow my child to better focus on their studies?</li>
                        <li>Will increased confidence allow my child to have a more positive outlook on learning?</li>
                        <li>Can personalised education enable my child to learn and understand more easily</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>