<div class="page-constraint-inner">
<div class="main clear-fix">
    <h1>Contact Us</h1>

<div class="content-container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, culpa corrupti numquam aut tempore possimus odio, doloribus dolores distinctio eos beatae ipsum reprehenderit, suscipit dolorum voluptatum nam commodi ad voluptatibus voluptate? Molestias minus, autem voluptas magni ducimus nihil sequi. Ipsum!</p>
</div>
    <div class="map-wrapper">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18854.074057717105!2d-1.5572416744982274!3d53.79377221347172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48793e4ada64bd99%3A0x51adbafd0213dca9!2sLeeds!5e0!3m2!1sen!2suk!4v1533584857496" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        
    </div>
</div>
    <h2>We would love to hear from you</h2>

        <form action="" method="post" id="commentForm" _lpchecked="1">
        <div class="fieldset-wrapper">
            <fieldset>
                <legend>Contact details to contact better grades in queensbury, bradford</legend>
                <div>
                    <label for="txt_name">Your name*</label>
                    <input id="txt_name" name="txt_name" placeholder="Your Name" required="" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;" type="text">
                </div>
                <div>
                    <label for="txt_address">Address</label>
                    <input id="txt_address" name="txt_address" placeholder="Your Address" type="text">
                </div>
                <div>
                    <label for="txt_telephone">Telephone number</label>
                    <input id="txt_telephone" name="txt_telephone" placeholder="Contact phone Number" type="text">
                </div>
                <div>
                    <label for="txt_email">Email Address</label>
                    <input id="txt_email" name="txt_email" placeholder="your Email address" type="text">
                </div>
                <div>

                    <label for="txt_enquiry">Enquiry</label>
                    <textarea id="txt_enquiry" name="txt_enquiry" placeholder="Your Enquiry
                    "></textarea>
                </div>

                <div class="button-wrapper">
                    <button id="submit" name="submit">Submit</button>
                </div>
            </fieldset>
        </div>
    </form>
</div>
    </div> 