<div class="main clear-fix">

    <h1>About us</h1>
    <div class="boxed-content-wrapper-about-us">
        <div class="boxes">
            <div class="box">
                <p>
                    Better Grades believes it is important for children to achieve a solid foundation in the core subjects of Maths, English
                    and Science . With Better Grades, each child receives an individualised study programme that is tailored
                    to meet their needs. It is also designed to help the student master the subjects and ingrain life-long
                    learning skills.</p>
            </div>
        </div>
        <div class="boxes">
            <div class="box">
                <h2>The Better Grades Maths Curriculum</h2>
                <p>The Maths curriculum is a programme which with our unique educational approach, leads students from the very
                    basics of Maths to the mastery of algebra, shapes and space, number and handling data.</p>
            </div>
            <div class="box">
                <h2>The Better Grades English Curriculum</h2>
                <p>The English curriculum has two key learning objectives: to develop each student’s ability to read, write
                    and understand a wide variety of language, to nurture in each student a life-long habit of reading for
                    both education and enjoyment. It is our experience that achieving these objectives will make the biggest
                    contribution to success at school and at work. This is why we focus so strongly on developing fundamental
                    knowledge and skills.</p>
            </div>
        </div>
        <div class="boxes">
            <div class="box">
                <h2>Levels of Study</h2>
                <p>We currently offer the following levels of study: A2 and AS GCSE 11+ and common Entrance Exams Primary and
                    Pre-GCSE Dyslexia and Learning Difficulties</p>
            </div>
            <div class="box">
                <h2>A2 and AS</h2>
                <p>Experienced A-level tutors are available for all subjects. Working with past papers from the relevant exam
                    boards, tutors focus on exam technique, study skills and any areas of the syllabus that require specific
                    support. Another vital role of the tutor is building and maintaining students' confidence, thereby enabling
                    them to realise their full potential. A particular strength of many of our tutors is grade improvement
                    to gain access to a chosen university.
                </p>
            </div>
        </div>
        <div class="boxes">
            <div class="box">
                <h2>GCSE</h2>
                <p>Reinforcement of the syllabus is a vital contribution to any GCSE student and when this is combined with
                    practical and detailed support with coursework, revision and exam technique, improvement in performance
                    is virtually guaranteed. Our tutors are skilled at assessing students' ability and targeting those areas
                    that would most benefit from support.</p>
            </div>
            <div class="box">
                <h2>11+ and Common Entrance Exams</h2>
                <p>Our tutors are available who specialise in these exams. We have extensive knowledge and experience of local
                    schools' specific entrance requirements and are to offer effective focused teaching.</p>
            </div>
        </div>
        <div class="boxes">
            <div class="box">
                <h2>Primary and Pre-GCSE</h2>
                <p>Younger students can benefit from tuition, either targeting one subject or both core subjects. SATS results
                    can be significantly improved and confidence increased, which can lead to improved performance in the
                    classroom. </p>
            </div>
            <div class="box">
                <h2>Dyslexia and LearningDifficulties</h2>
                <p>We are able to arrange tuition with tutors who have experience supporting students with dyslexia and other
                    specific learning difficulties. They are skilled at assessing and planning programmes of tuition that
                    allows students to succeed, thereby building confidence and improving self-esteem.</p>
            </div>
        </div>
    </div>

    </div>