<div class="main clear-fix">
    <h1>Subjects offered</h1>
    <div class="standard-layout">
        <div class="boxes align-center">
            <div class="box">
                <h3>Key Stage 1</h3>
                <ul>
                    <li>Maths</li>
                    <li>English</li>
                </ul>

                <h3>Key Stage 2 and 3</h3>
                <ul>
                    <li>Maths</li>
                    <li>English</li>
                    <li>Science</li>
                    <li>Physics</li>
                </ul>
            </div>            
            <div class="box">
                <h3>11 +</h3>
                <ul>
                    <li>Maths</li>
                    <li>English</li>
                    <li>Verbal Reasoning</li>
                </ul>
            </div>            
            <div class="box">


                <h3>GCSE</h3>
                <ul>
                    <li>Maths</li>
                    <li>English</li>
                    <li>Science</li>
                    <li>Physics</li>
                </ul>

                <h3>A-Levels</h3>
                <ul>
                    <li>Maths</li>
                    <li>Physics</li>
                    <li>Chemistry</li>
                    <li>Biology</li>
                </ul>
            </div>
        </div>
    </div>

    </div>