

@media screen and (min-width: 450px) {
    
    .testimonial-wrapper {
        border:1px solid #ccc;
        background:white;
        width: calc(50% - 20px);
        margin:10px;
        float: left;
        
    }

}


@media screen and (min-width: 700px) {
        .testimonials-wrapper {
            margin-bottom:20px;
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            .item-wrapper {
                flex:1 1 300px;
                margin-left:6px;
                margin-right:6px;
                margin-bottom:10px;
            }
        }
}
