<div class="page-constraint-inner">
        <div class="main">

    <h1>Testimonials's</h1>
    <div class="testimonials-wrapper">

        <div 
        *ngFor="let tes of testimonialsFeed" 
        app-testimonial class="item-wrapper" 
        [description]=tes.description 
        [name]=tes.name
        [town]=tes.town
        [country]=tes.country
        ></div>
        <!-- <div app-testimonial class="item-wrapper"></div>
        <div app-testimonial class="item-wrapper"></div>
        <div app-testimonial class="item-wrapper"></div>
        <div app-testimonial class="item-wrapper"></div>
        <div app-testimonial class="item-wrapper"></div> -->
    </div>
    
</div>  
</div>

